* {
    box-sizing: content-box;
}

body {
    background-color: rgb(150, 150, 150);
}

.container {
    transform: translate(300px, 200px);
}

.box {
    background-color: yellowgreen;
    padding: 50px;
    display: inline-block;
    margin: 3px;
    border-radius: 15px;
    box-shadow: 5px 5px black;
    font-size: 50px;
    font-weight: 700;
    cursor: pointer;
}

.winner {
    display: none;
}

.back {
    filter: blur(20px);
    background-color: black;
    width: 100%;
    height: 100%;
}

.text-winner {
    position: absolute;
    z-index: 1;
    color: white;
}

.title {
    font-size: 50px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1.5px 1.5px white;
    transform: translate(390px, 200px);
}

button {
    border: 2px solid white;
    box-shadow: 2px 2px white;
    color: white;
    background-color: black;
    font-size: 30px;
    font-weight: 900;
    margin: 20px;
    cursor: pointer;
}

.container-btn {
    transform: translate(340px, 180px);
}

@media screen and (max-width:400px) {
    .container {
        transform: translate(0, 0);
        padding: 10px;
    }
    .box {
        background-color: greenyellow;
        padding: 25px;
        font-size: 30px;
    }
    .title {
        transform: translate(60px, 50px);
    }
    button {
        margin: 30px;
    }
    .container-btn {
        transform: translate(0, 0);
    }
}